version: '3.8'

services:
  opensearch:
    image: opensearchproject/opensearch:2.17.0
    container_name: requiem-opensearch
    environment:
      - discovery.type=single-node
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=Admin123!
      - DISABLE_SECURITY_PLUGIN=true                 # Mode dev sans SSL
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - "9200:9200"
      - "9600:9600"
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    networks:
      - requiem

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:2.17.0
    container_name: requiem-dashboards
    environment:
      - OPENSEARCH_HOSTS=http://opensearch:9200
      - DISABLE_SECURITY_DASHBOARDS_PLUGIN=true
    ports:
      - "5601:5601"
    depends_on:
      - opensearch
    networks:
      - requiem

volumes:
  opensearch-data:

networks:
  requiem:
